body {
    font-family: 'Cairo', sans-serif !important;
    background: linear-gradient(135deg, #f5f7ff, #ffffff);
    min-height: 100vh;
}

/* شعار المنصة */
.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
    color: #4f46e5;
    font-weight: bold;
    font-size: 35px;
}

.logo-icon img {
    width: 50px;
    height: 50px;
    background: linear-gradient(to left, #7c3aed, #2563eb);
    border-radius: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card */
.auth-card {
    max-width: 440px !important;
    border: none !important;
    border-radius: 24px !important;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.08),
        0 20px 60px rgba(0, 0, 0, 0.06);
}

.form-control {
    padding: 12px 35px !important;
    border-radius: 12px !important;
    border: 2px solid #E5E7EB !important;
    direction: rtl !important;
}

.role-option {
    border: 1px solid #e5e7eb;
    border-radius: 14px;
    padding: 12px 14px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.role-option i {
    font-size: 20px;
    color: #4f46e5;
}

.role-option input {
    accent-color: #4f46e5;
}

.role-option:hover {
    background-color: #f5f7ff;
}

.role-option.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.role-option.disabled i {
    color: #9ca3af;
}


.btn-gradient {
    background: linear-gradient(to left, #7c3aed, #2563eb);
    color: #fff !important;
    border-radius: 30px !important;
    padding: 12px !important;
    border: none !important;
}

.back-link {
    margin-top: 18px !important;
    text-align: center ;
    margin-bottom: 30px !important;
}

.back-link a {
    color: #6b7280;
    text-decoration: none;
    font-size: 14px !;
}

.input-icon-wrapper {
    position: relative;
}

.input-icon-wrapper i {
    position: absolute;
    top: 50%;
    right: 14px;                 /* RTL */
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 18px;
    pointer-events: none;
    transition: 0.2s;
}

.input-icon-wrapper .form-control {
    padding-right: 44px;         /* مساحة للأيقونة */
    border-radius: 12px;
}

/* تغيير لون الأيقونة عند التركيز */
.input-icon-wrapper .form-control:focus + i {
    color: #4f46e5;
}

.input-icon-wrapper .form-control:not(:placeholder-shown) + i {
    color: #4f46e5;
}